*{
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:hover{
    text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus{
    outline: none;
}

body{

    /*

    font-family: "Open Sans", sans-serif;
    font-family: "Oswald", sans-serif;

    */

}

/*header part css start*/
header{
    background-color: #0066cc;
    padding: 12px 0;
}
.welcome p{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.welcome p span{
    color: #cc6666;
}
.header_icon ul{
    float: right;
}
.header_icon ul li{
    float: left;
    padding: 0 12.5px;
}
.header_icon ul li a{
    color: white;
    transition: all linear .3s;
}
.header_icon ul li a:hover{
    color: #333333;
    transition: all linear .3s;
}
/*header part css end*/


/*navigation part css start*/
nav{
    background-color: white;
}
.navbar-brand img{
    padding: 0;
    margin: 0;
    height: 56px;
}
.navbar-nav .nav-item .nav-link.active{
    color: #0066cc;
}
.navbar-nav .nav-item .nav-link{
    font-size: 15px;
    transition: all linear .3s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #0066cc;
    transition: all linear .3s;
}
/*navigation part css end*/

/*banner part css start*/
#banner{
    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_overlay{
    padding: 248px 0;
    background-color: rgba(0, 0, 0, .4);
}
.banner_content{
    color: #f2f2f2;
    text-align: right;
}
.banner_content h4{
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.banner_content h1{
    font-size: 58px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 700;
}
.banner_content p{
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 30px;
}
.banner_content a{
    color: white;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all linear .3s;
}
.banner_content a:hover{
    outline: none;
    background-color: #0066cc;
    border: 1px solid #0066cc;
    transition: all linear .3s;
}
/*banner part css end*/

/*about part css start*/
#about{
    padding-bottom: 80px;
}
.common_head h4{
    margin: 50px 0;
    text-align: center;
    color: #333333;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}
.common_head h4:after{
    position: absolute;
    top: 100%;
    left: 46.2%;
    content: "";
    width: 47px;
    height: 3px;
    background-color: #0066cc;
}
.common_head h4:before{
    position: absolute;
    top: 100%;
    left: 50.05%;
    content: "";
    width: 7px;
    height: 3px;
    background-color: #0066cc;
}
.common_head h4 span:after{
    position: absolute;
    top: 100%;
    left: 50.8%;
    content: "";
    width: 4px;
    height: 3px;
    background-color: #0066cc;
}
.common_head h4 span:before{
    position: absolute;
    top: 100%;
    left: 51.35%;
    content: "";
    width: 2px;
    height: 3px;
    background-color: #0066cc;
}
.about_img{
    width: 100%;
    height: 100%;
}
.about_content{
    margin-top: 45px;
}
.me{
    padding-bottom: 40px;
}
.about_content p{
    line-height: 28px;
    color: #555555;
    text-align: justify;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}
/*about part css end*/


/*skill part css start*/
#skill{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-bottom: 100px;
}
.skill_head{
    margin-bottom: -30px;
}
.skill {
    margin-top: 20px;
}
.skill-name {
    font-size: 1.0em;
    margin-bottom: 5px;
}
.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
}
.progress-bar div {
    height: 20px;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 25px 0 0 25px;
    animation: loadSkill 2s ease-out forwards;
}
.html { background-color: #e34c26; width: 0%; }
.css { background-color: #264de4; width: 0%; }
.javascript { background-color: #ff9933; color: black; width: 0%; }
.wordpress { background-color: #21759b; width: 0%; }
.internet-browsing { background-color: #666699; width: 0%; }
        
@keyframes loadSkill {
    from { width: 0%; }
    to { width: var(--width); }
}
/*skill part css end*/


/*gallery part css start*/
#gallery{
    padding-bottom: 40px;
}
.gallery_head h4:after{
    position: absolute;
    top: 100%;
    left: 45.5%;
    content: "";
    width: 47px;
    height: 3px;
    background-color: #0066cc;
}
.gallery_head h4:before{
    position: absolute;
    top: 100%;
    left: 49.34%;
    content: "";
    width: 7px;
    height: 3px;
    background-color: #0066cc;
}
.gallery_head h4 span:after{
    position: absolute;
    top: 100%;
    left: 50.1%;
    content: "";
    width: 4px;
    height: 3px;
    background-color: #0066cc;
}
.gallery_head h4 span:before{
    position: absolute;
    top: 100%;
    left: 50.68%;
    content: "";
    width: 2px;
    height: 3px;
    background-color: #0066cc;
}
.small_img,
.big_img{
    position: relative;
    margin-bottom: 20px;
}
.gallery_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all linear .3s;
}
.gallery_overlay img{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
}
.small_img:hover .gallery_overlay{
    transform: scale(1);
    transition: all linear .3s;
}
.big_img:hover .gallery_overlay{
    transform: scale(1);
    transition: all linear .3s;
}
/*gallery part css end*/


/*team part css start*/
#team{
    background-color: #f2f2f2;
    padding-bottom: 60px;
}
.team_head{
/*    padding-bottom: -100px;!important*/
}
.team_head h4:after{
    position: absolute;
    top: 100%;
    left: 46.7%;
    content: "";
    width: 47px;
    height: 3px;
    background-color: #0066cc;
}
.team_head h4:before{
    position: absolute;
    top: 100%;
    left: 50.6%;
    content: "";
    width: 7px;
    height: 3px;
    background-color: #0066cc;
}
.team_head h4 span:after{
    position: absolute;
    top: 100%;
    left: 51.33%;
    content: "";
    width: 4px;
    height: 3px;
    background-color: #0066cc;
}
.team_head h4 span:before{
    position: absolute;
    top: 100%;
    left: 51.89%;
    content: "";
    width: 2px;
    height: 3px;
    background-color: #0066cc;
}
.team_img{
    position: relative;
    overflow: hidden;
}
.team_overlay{
    position: absolute;
    top: 0;
    right: -30px;
    width: 32%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center; 
    visibility: hidden;
    transition: all linear .3s;
}
.team_img:hover .team_overlay{
    right: 0;
    visibility: visible;
    transition: all linear .3s;
}

.team_overlay ul li a{
    height: 40px;
    width: 40px;
    border: 2px solid white;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    display: block;
    color: white;
    margin: 20px 0;
    transition: all linear .3s;
}
.team_overlay ul li a:hover{
    background-color: #66ccff;
    border: 2px solid #66ccff;
    transition: all linear .3s;
}
.team_title{
    text-align: center;
}
.team_title h4{
    color: #333333;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
}
.team_title p{
    color: #333333;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.team_main{
    margin-top: 20px;
}
.team_main:hover .team_title h4{
    color: #0066cc;
}
/*team part css end*/

/*testimonial part css start*/
.testimonial_head h4:after{
    position: absolute;
    top: 100%;
    left: 45.25%;
    content: "";
    width: 47px;
    height: 3px;
    background-color: #0066cc;
}
.testimonial_head h4:before{
    position: absolute;
    top: 100%;
    left: 49.1%;
    content: "";
    width: 7px;
    height: 3px;
    background-color: #0066cc;
}
.testimonial_head h4 span:after{
    position: absolute;
    top: 100%;
    left: 49.85%;
    content: "";
    width: 4px;
    height: 3px;
    background-color: #0066cc;
}
.testimonial_head h4 span:before{
    position: absolute;
    top: 100%;
    left: 50.4%;
    content: "";
    width: 2px;
    height: 3px;
    background-color: #0066cc;
}
.round_img{
    text-align: center;
    margin-bottom: 40px;
}
.testimonial_content{
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    position: relative;
}
.piramid{
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    z-index: -1;
    position: absolute;
    top: -11%;
    left: 47%;
    transform: rotate(45deg);
}
.testimonial_content h4{
    color: #333333;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
}
.testimonial_content ul{
    display: inline-flex;
}
.testimonial_content ul li a{
    color: #5bc5f4;
    padding: 0 1.5px;
    margin-bottom: 5px;
}
.testimonial_content h6{
    color: #333333;
    font-size: 14px;
    font-family: "Oswald", sans-serif;
    margin-top: 5px;
}
.testimonial_content p{
    color: #333333;
    font-size: 13px;
    font-family: "Oswald", sans-serif;
    margin-top: 5px;
}
/*testimonial part css end*/


/*footer part css start*/
footer{
    background-color: #353535;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 15px;
}
.footer_content p{
    text-align: justify;
    color: white;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}
.fp1{
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer_common_head h4{
    color: #ffffff;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}
.footer_icon{
    padding-top: 3px;
}
.footer_icon ul li a{
    height: 40px;
    width: 40px;
/*    border: 2px solid white;*/
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    display: block;
    color: white;
    background-color: #66ccff;
}
.footer_info{
    color: white;
    font-size: 13px;
}
.row_gap{
    margin-bottom: 18px;
}
.footer_menu ul li a{
    color: white;
    line-height: 24px;
    font-size: 13px;
}
.footer_menu ul li a:hover{
    color: #5bc5f4;
}
.footer_img{
    margin-bottom: 20px;
}
.last_footer{
    text-align: center;
    color: #ffffff;
    background-color: #666666;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
}
/*footer part css end*/